.topproduct-fluid{
	margin-bottom: 40px;
	margin-top: 50px;
}
.topproduct-fluid .react-multi-carousel-list   ul li{
    padding-right: 10px;
    padding-left: 10px;
}

.topproduct-fluid .mutlislider img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.topproduct-fluid .headingpart {
   margin-bottom: 40px;
}
.topproduct-fluid .headingpart h2{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
    position: relative;
}

.topproduct-fluid .headingpart h2:after  {
    content: "";
    position: absolute;
    background: #a2b034;
    width: 300px;
    height: 2px;
    bottom: -22px;
    left: 50%;
    margin-left: -150px;
}
.topproduct-fluid .headingpart h2:before {
    content: "";
    position: absolute;
    background: #a2b034;
    width: 20px;
    height: 20px;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.topproduct-fluid .mutlislider h3{
    font-size: 16px;
    font-weight: 700;
    color: black;
    display: inline-block;
    margin-bottom: 5px;
}
.topproduct-fluid .mutlislider h4{
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: #a2b034;
    margin-bottom: 5px;
}
.topproduct-fluid .mutlislider h4 span{
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: #736e6e;
    text-decoration: line-through;
}

.topproduct-fluid .size  span {
    float: left;
    font-size: 14px;
    color: black;
    font-weight: 500;
}
.topproduct-fluid .size ul  {
    float: left;
}
.topproduct-fluid .size ul li{
    float: left;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.topproduct-fluid button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.topproduct-fluid .react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 5px;
    z-index: 1000;
    border: 0;
    background: rgb(162, 176, 52);
    min-width: 20px;
    min-height: 30px;
    opacity: 1;
    cursor: pointer;
    top: 20px;
    font-size: 10px;
}
.topproduct-fluid .react-multiple-carousel__arrow--right {
    right: 20px;
}

.topproduct-fluid .react-multiple-carousel__arrow--left{
    right: 70px;
    left: auto;
}
.topproduct-fluid .react-multiple-carousel__arrow::before {
    font-size: 10px;
    color: #fff;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
}

.topproduct-fluid .react-multi-carousel-list {
    padding-top: 80px;
}

.topproduct-fluid .mutlislider  {
    position: relative;
}
.topproduct-fluid .mutlislider .wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.topproduct-fluid .mutlislider:hover .wishlist {
    display: inline-block;
}
.topproduct-fluid .mutlislider .wishlist .fa{
    color: #ffffff;
    background: #a2b034;
    padding: 8px 8px;
    border-radius: 25px;
    font-size: 10px;
}
.topproduct-fluid .mutlislider .productimage {
    position: relative;
        overflow: hidden;
}

.topproduct-fluid .mutlislider .productimage .viewproduct{
    position: absolute;
    bottom: -45px;
    text-align: center;
    width: 100%;
    background: #a2b034;
    padding: 10px 10px;
    border-radius: 0px 1px 10px 10px;
    left: 0;
}
.topproduct-fluid .mutlislider .productimage:hover .viewproduct{
     bottom: 0px;
     transition-duration: 1s;
}
.topproduct-fluid .mutlislider .productimage .viewproduct a{
color: #ffffff;
}